{% extends "layout.html" %}

{% block content %}

<div class="container" id="main-content">
  <h1>HEADLINE GOES HERE</h1>

  <div class="starter-template jumbotron">
    <h2>This Page Was Created Using Twitter Bootstrap</h2>
    <p class="lead">It is responsive.</p>
  </div>

  <!-- Begin Table Columns -->
  <div class="row">
    <div class="col-sm-4">
      <h3>MY INFO</h3>
      <ul class="list-group">
        <li>Michael Blasius</li>
        <li>Boulder, CO</li>
        <li><a href="mailto:mblasiusnyc@gmail.com">mblasiusnyc@gmail.com</a></li>
        <li><a href="tel:9088943941">M:(908) 894-3941</a></li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>LINKS</h3>
      <ul class="list-group">
        <li>Favorite Movies</li>
        <li>Careers</li>
        <li>IMDB</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>ABOUT US</h3>
      <ul class="list-group">
        <li>History</li>
        <li>Management</li>
      </ul>
    </div>
</div><!-- /.container -->  

{% endblock %}